<div class="auth-container">
  <h2>Entrar</h2>
  <form action="/login" method="post">
    <div class="form-control">
      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        placeholder="Digite seu email"
        required
      />
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input
        type="password"
        name="password"
        placeholder="Digite sua senha"
        required
      />
    </div>
    <input type="submit" value="Entrar" class="btn" />
    <p>Não possui uma conta? <a href="/register">Registrar</a></p>
  </form>
</div>