<div class="auth-container">
  <h2>Registrar</h2>

  <form action="/register" method="post">
    <div class="form-control">
      <label for="name">Nome:</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Digite seu nome"
        required
      />
    </div>
    <div class="form-control">
      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Digite seu email"
        required
      />
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input
        type="password"
        name="password"
        placeholder="Digite sua senha"
        required
      />
    </div>
    <div class="form-control">
      <label for="passwordConfirm">Confirmar Senha:</label>
      <input
        type="password"
        name="passwordConfirm"
        placeholder="Confirme sua senha"
        required
      />
    </div>
    <input type="submit" value="Cadastrar">
    <p>JaÌ possui uma conta? <a href="/login">Entrar</a></p>
  </form>
</div>